.list-group-item {
    .list-item {
        align-items: center;
        justify-content: center;
        margin: 0px auto;
        white-space: nowrap;
        .child-status {
            text-align: center;
            display: inline-block;
            width: 20%
        }
        .child-description{
            text-align: left;
            display: inline-block;
            width: 60%

        }
        .child-edit {
            text-align: center;
            display: inline-block;
            width: 20%
        }
        .title {
            font-size: 1.2em;
        }
        .detail {
            font-size: 0.8em;
        }
    }
}